*{
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    height: 100vh;
    background-color: #000;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    transform: scale(0);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0%
    {
        transform: scale(0);
    }
    10% {
        transform: scale(1.2);
    }
    80%,100% {
        transform: scale(0);
    }
}

.plane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotating 2s linear infinite;
    animation-delay: -1s;
}

@keyframes rotating {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(370deg);
    }
}

.icon {
    position: absolute;
    top: 60px;
    left: 60px;
    color: #fff;
    font-size: 60px;
    transform: rotate(134deg);
}